<template>
  <v-container>
    <h1>{{ currentBook.title }}</h1>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-row>
            <v-col cols="2">
              <v-img :src="currentBook.coverUri"></v-img>
            </v-col>
            <v-col cols="10">
              <v-row>
                <v-col cols="12">
                  <v-card-text
                    style="border: 1px solid #000; border-radius: 5px; max-width: 90%"
                  >
                    <span class="title">
                      {{ currentBook.title }}
                    </span>
                    <span class="title ml-3">
                      {{ currentBook.author }}
                    </span>
                    <span class="title ml-3">
                      {{ currentBook.year }}
                    </span>
                    <v-chip
                      class="ma-2"
                      color="red"
                      text-color="white"
                      style="float: right;"
                    >
                      {{ currentBook.ebooks === true ? 'Ebook' : 'Livre' }}
                    </v-chip>
                  </v-card-text>
                </v-col>
                <v-col cols="12">
                  <h2>Résumé</h2>
                  <p>
                    {{ currentBook.resume }}
                  </p>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
export default {
  name: 'BookDetails',
  data() {
    return {
      currentBook: {},
    };
  },
  methods: {
    async fetchData() {
      const {data} = await axios.get('http://localhost:3000/books/' + this.$route.params.id);
      this.currentBook = data;
      console.log(this.currentBook)
    },
  },
  created() {
    this.fetchData();
  },
};
</script>

<style scoped></style>
