<template>
    <v-container>
        <h1>Mes Livres</h1>
        <v-row>
            <v-col cols="12">
                <v-card v-for="book in books" :key="book.id" class="mb-5">
                    <v-row>
                        <v-col cols="1">
                            <v-img :src="book.coverUri"></v-img>
                        </v-col>
                        <v-col cols="10">
                            <v-card-text>
                                <p class="display-1 text--primary">
                                    {{ book.title }}
                                </p>
                                <p>{{ book.author }}</p>
                                <p>{{ book.year }}</p>
                            </v-card-text>
                        </v-col>
                        <v-col cols="1" class="d-flex align-center">
                            <v-btn
                                depressed
                                color="primary"
                                @click="showBookDetails(book.id)"
                            >
                                Détails
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import axios from "axios";
export default {
    name: 'Books',
    data() {
        return {
            books: {},
        };
    },
    methods: {
        showBookDetails(id) {
            this.$router.push({ name: 'BookDetails', params: { id } });
        },
        async fetchData() {
            const data = await axios.get('http://localhost:3000/books');

            this.books = data.data;
        },
    },
    created() {
        this.fetchData();
    },
};
</script>

<style scoped></style>
