<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
      <tr>
        <th class="text-left">
          Id
        </th>
        <th class="text-left">
          label
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="type in types" :key="type.id">
        <td>{{ type.id }}</td>
        <td>{{ type.label }}</td>
      </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import axios from "axios";

const URL_API_TYPES = "http://localhost:3000/genres";
export default {
  name: "Type",
  data() {
    return {
      types: {},
    };
  },
  methods: {
    async getTypes() {
      const { data } = await axios.get(URL_API_TYPES);
      this.types = data;

      console.log(this.types);
    },
  },
  created() {
    this.getTypes();
  }
};
</script>

<style scoped></style>
