<template>
    <v-app-bar app color="primary" dark>
        <v-btn :to="'/books'" text>
            <span class="mr-2">Livre</span>
            <v-icon>mdi-book</v-icon>
        </v-btn>
        <v-btn :to="'/types'" text>
            <span class="mr-2">Genre</span>
            <v-icon>mdi-clipboard-list-outline</v-icon>
        </v-btn>
        <v-btn :to="'/admin'" text>
            <span class="mr-2">Admin</span>
            <v-icon>mdi-cog</v-icon>
        </v-btn>
    </v-app-bar>
</template>

<script>
    export default {
        name: 'Navbar',
    };
</script>

<style scoped></style>
