<template>
  <div>
  <v-btn outlined rounded text @click="createItem()">
    <v-icon>mdi-plus</v-icon> Nouveau livre
  </v-btn>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Id
          </th>
          <th class="text-left">
            Nom
          </th>
          <th class="text-left">
            Resumé
          </th>
          <th class="text-left">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in items" :key="book.id">
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.resume }}</td>
          <td>
            <v-btn outlined rounded text @click="openDialog(book)">
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn outlined rounded text @click="deleteItem(book.id)">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </td>
        </tr>
      </tbody>

      <v-dialog v-model="editItem" width="500">
        <v-card>
          <v-card-title class="headline grey lighten-2">
            Modification Livre
          </v-card-title>

          <v-card-text>
            <v-form>
              <v-text-field label="Titre" v-model="editItem.title" required></v-text-field>
              <v-text-field label="Résumé" v-model="editItem.resume" required></v-text-field>
              <v-text-field label="Auteur" v-model="editItem.author" required></v-text-field>
            </v-form>
            {{editItem}}
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="closeDialog()">
              close
            </v-btn>
            <v-btn color="primary" text @click="closeDialog()">
              save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
  </v-simple-table>
  </div>
</template>

<script>
import axios from "axios";

const URL_API_BOOKS = "http://localhost:3000/books";
const URL_API_TYPES = "http://localhost:3000/genres";

export default {
  name: "Books",
  data() {
    return {
      items: {},
      types: {},
      dialog: false,
      editItem: ""
    };
  },
  methods: {
    async getBooks() {
      const { data } = await axios.get(URL_API_BOOKS);
      this.items = data;
    },
    async getTypes() {
      const { data } = await axios.get(URL_API_TYPES);
      this.types = data;
    },
    createItem() {
      this.editItem = {}
    },
    submit(){
      this.editItem
    },
    deleteItem(bookId) {
      if (confirm("La suppression est définitive, êtes-vous sûr ?")) {
        const index = this.items.findIndex(el => el.id === bookId)
        axios.delete(URL_API_BOOKS + '/' + bookId);
        this.items.splice(index, 1);
      }
    },
    openDialog(book) {
      this.editItem = book;
    },
    closeDialog() {
      this.editItem = "";
    }
  },
  created() {
    this.getBooks();
    this.getTypes();
  }
};
</script>

<style scoped></style>
