<template>
  <div>
    <v-btn outlined rounded text @click="createItem()">
      <v-icon>mdi-plus</v-icon>
      Nouveau Genre
    </v-btn>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left">
            Id
          </th>
          <th class="text-left">
            Label
          </th>
          <th class="text-left">
            Action
          </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="type in types" :key="type.id">
          <td>{{ type.id }}</td>
          <td>{{ type.label }}</td>
          <td>
            <v-btn
                outlined
                rounded
                text
                @click="openDialog(type)"
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn
                outlined
                rounded
                text
                @click="deleteItem(type.id)"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </td>
        </tr>
        </tbody>

        <v-dialog v-model="editItem" width="500">
          <v-card>
            <v-card-title class="headline grey lighten-2">
              Modification Genre
            </v-card-title>

            <v-card-text>
              <v-form>
                <v-text-field
                    label="Titre"
                    v-model="editItem.title"
                    required
                ></v-text-field>
                <v-text-field
                    label="Résumé"
                    v-model="editItem.resume"
                    required
                ></v-text-field>
                <v-text-field
                    label="Auteur"
                    v-model="editItem.author"
                    required
                ></v-text-field>
              </v-form>
              {{ editItem }}
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="closeDialog()">
                close
              </v-btn>
              <v-btn color="primary" text @click="closeDialog()">
                save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import axios from 'axios';

const URL_API_TYPES = 'http://localhost:3000/genres';

export default {
  name: 'Types',
  data() {
    return {
      types: {},
      dialog: false,
      editItem: '',
    };
  },
  methods: {
    async getTypes() {
      const { data } = await axios.get(URL_API_TYPES);
      this.types = data;
      console.log(this.types)
    },
    deleteItem(typeId) {
      if (confirm('La suppression est définitive, êtes-vous sûr ?')) {
        const index = this.types.findIndex(el => el.id === typeId);
        axios.delete(URL_API_TYPES + '/' + typeId);
        this.types.splice(index, 1);
      }
    },
    openDialog(type) {
      this.editItem = type;
    },
    closeDialog() {
      this.editItem = '';
    },
  },
  created() {
    this.getTypes();
  },
};
</script>

<style scoped></style>
